---
import Layout from "../layouts/Layout.astro";
import Section from "../components/boda/Section.astro";
import OpenCard from "../components/boda/OpenCard";
import AnimatedNames from "../components/boda/AnimatedNames";
import CountDownElegant from "../components/boda/CountDownDate";
import Stars from "../components/boda/Stars";
import MagicDust from "../components/boda/MagicDust";
import Constellation from "../components/boda/Constellation";
import Rings from "../components/boda/Rings";
import Hero from "../components/boda/Hero.astro";
import CoverImage from "../components/boda/CoverImage";

const fechaBoda = "2026-10-02T21:00:00";
---

<Layout>
  <!-- <OpenCard client:load> -->
    <CoverImage client:load/>
    <Hero />
    <h2 class="text-4xl text-gold-500 mb-6">La Fecha</h2>
    <p>24 de Agosto 2026 · 7:00 PM</p>
  <!-- </OpenCard> -->
</Layout>
