---
import Layout from "../layouts/Layout.astro";
import Section from "../components/boda/Section.astro";
import OpenCard from "../components/boda/OpenCard";
import AnimatedNames from "../components/boda/AnimatedNames";
import CountDownElegant from "../components/boda/CountDownDate";
import Stars from "../components/boda/Stars";
import MagicDust from "../components/boda/MagicDust";
import Constellation from "../components/boda/Constellation";
import Rings from "../components/boda/Rings";
import Hero from "../components/boda/Hero.astro";
import CoverImage from "../components/boda/CoverImage";
import CountDownDate from "../components/boda/CountDownDate";
import FadeInOnScroll from "../components/boda/FadeInOnScroll";
import WeddingCalendar from "../components/boda/WeddingCalendar";
import WeddingMonthCalendar from "../components/boda/WeddingMonthCalendar";
import TimeLine from "../components/boda/TimeLine";
import TimelineCard from "../components/boda/TimelineCards";


const fechaBoda = "2026-10-02T21:00:00-06:00";
---

<Layout>
  <OpenCard client:load>
  <CoverImage client:load />

  <FadeInOnScroll type="slide-up" client:load>
    <div class="flex flex-col max-w-xs md:max-w-xl mx-auto m-10 gap-y-5">
      <p class="text-md text-justify text-black leading-relaxed">
        Dios nos ha concedido el privilegio de conocernos y amarnos, con su
        bendición y la de nuestros padres queremos unir nuestras vidas para
        siempre.
      </p>
      <p class="titulo text-center md:text-justify text-[42px] text-gold-600">
        ¡Los invitamos a acompañarnos en este día tan especial!
      </p>
    </div>
  </FadeInOnScroll>

  <div
    class="flex w-full h-auto py-16 bg-navy-blue items-center justify-center"
  >
    <FadeInOnScroll type="rotate" client:load delay={0.5}>
      <p
        class="flex w-full items-start justify-center text-xl text-gold-500 mb-5"
      >
        FALTAN
      </p>
      <CountDownDate client:load date={fechaBoda} />
    </FadeInOnScroll>
  </div>

  <!-- <div class="flex w-full h-auto py-16 bg-white items-center justify-center">
      <FadeInOnScroll client:load delay={0.5}>
        <p
          class="flex w-full items-start justify-center text-2xl text-navy-950 mb-5"
        >
          EL GRAN DIA
        </p>
        <WeddingCalendar client:load date={fechaBoda} />
      </FadeInOnScroll>
    </div> -->
  <div class="flex w-full h-auto py-16 items-center justify-center">
    <FadeInOnScroll type="fade" client:load delay={0.7}>
      <p
        class="flex w-full items-start justify-center text-2xl text-navy-950 mb-5"
      >
        EL GRAN DIA
      </p>
      <WeddingMonthCalendar client:load date={fechaBoda} />
    </FadeInOnScroll>
  </div>

  <FadeInOnScroll type="slide-left" client:load >
    <div class="flex flex-col w-full h-auto bg-navy-blue items-center justify-center pb-3 gap-y-5">
      <img src="/boda/img-1.png" alt="" />
      <p class=" text-gold-500 tracking-[0.5em]">UBICACION IGLESIA</p>
      <div class="flex w-full h-auto justify-center">
        <div class="flex flex-col w-full mx-5 p-3 gap-y-2 bg-ivory-50 text-navy-blue rounded-md items-center justify-center">
          <img src="/iglesia-icon.png" class="w-25 h-auto" alt="">
          <div class="flex flex-col max-w-xs text-center items-center justify-center">
            <p class="titulo text-[35px] font-bold">Miguel Agustin Pro</p>
            <p>Puerto Escondido, Nueva California, 27085 Torreón, Coah.</p>
          </div>
          <a href="https://maps.app.goo.gl/2GTDz1yRwTAQdauW7" type="button" class="flex w-full md:max-w-xl justify-center rounded py-3 bg-navy-blue text-ivory-50 text-lg">Ver ubicación...</a>
        </div>
      </div>
    </div>
  </FadeInOnScroll>
  <FadeInOnScroll type="slide-right" client:load >
    <div class="flex flex-col w-full h-auto bg-navy-blue items-center justify-center pb-3 gap-y-5">
      <img src="/boda/img-2.png" alt="" />
      <p class=" text-gold-500 tracking-[0.5em]">UBICACION SALON</p>
      <div class="flex w-full h-auto justify-center">
        <div class="flex flex-col w-full mx-5 p-3 gap-y-2 bg-navy-600 rounded-md items-center justify-center">
          <img src="/boda/copas.png" class="w-25 h-auto" alt="">
          <div class="flex flex-col max-w-xs text-center items-center justify-center">
            <p class="titulo text-gold-500 text-[35px] font-bold">Miguel Agustin Pro</p>
            <p class="text-gold-300">Puerto Escondido, Nueva California, 27085 Torreón, Coah.</p>
          </div>
          <a href="https://maps.app.goo.gl/2GTDz1yRwTAQdauW7" type="button" class="flex w-full md:max-w-xl justify-center rounded py-3 bg-ivory-50 text-navy-blue text-lg">Ver ubicación...</a>
        </div>
      </div>
    </div>
  </FadeInOnScroll>

  <!-- <div
      class="relative w-full h-auto bg-navy-700 py-16 items-center justify-center overflow-x-hidden"
    >
      <FadeInOnScroll client:load delay={0.7}>
        <p
          class="flex w-full items-start justify-center text-2xl text-gold-300 mb-5"
        >
          ITINERARIO
        </p>
        <TimeLine
          client:load
          events={[
            { time: "5:00 P.M.", title: "Ceremonia", icon: "💍" },
            { time: "8:00 P.M.", title: "Civil", icon: "💍" },
            { time: "8:45 P.M.", title: "Recepción", icon: "🥂" },
            { time: "9:30 P.M.", title: "Banquete", icon: "🍽" },
            { time: "10:00 P.M.", title: "Baile", icon: "🎶" },
          ]}
        />
      </FadeInOnScroll>
    </div> -->
  <!-- <div
      class="relative w-full h-auto bg-navy-700 py-16 px-4 items-center justify-center overflow-x-hidden"
    >
      <FadeInOnScroll client:load delay={0.7}>

        <TimelineCard
          client:load
          events={[
            {
              time: "6:00 PM",
              title: "Ceremonia",
              description: "Intercambio de votos en la capilla.",
            },
            {
              time: "8:00 PM",
              title: "Recepción",
              description: "Brindis y bienvenida en el jardín.",
            },
            {
              time: "9:00 PM",
              title: "Banquete",
              description: "Cena bajo las estrellas.",
            },
            {
              time: "11:00 PM",
              title: "Baile",
              description: "Celebración y música en vivo.",
            },
          ]}
        />
      </FadeInOnScroll>
    </div> -->
  </OpenCard>
</Layout>
