---
import TemaBoton from "./TemaBoton.astro";
import CoronaLogo from "../components/corona-logo.astro";

const { nombre } = Astro.props;

const { pathname } = Astro.url;

// Lista de rutas donde NO debe aparecer el logo
const hideLogoRoutes = ["/"];
const shouldShowLogo = !hideLogoRoutes.includes(pathname);

// Comprueba si la ruta actual está activa
const isActive = (path: string) => pathname === path;
---

<header class="fixed top-0 left-0 w-full z-50 shadow">
  <div class="relative flex justify-between items-center w-full">
    <!-- Imagen inicial -->
    <div id="navbarImage" class="flex w-full transition-opacity duration-700 ease-in-out opacity-100">
      <img src="/portada-2.png" alt="Portada" class="absolute" />
    </div>
    <nav
      id="navbarContent"
      class="navbar flex absolute w-full h-20 top-0 left-0 pt-2 justify-between items-center shadow navbar-hidden bg-white/20 backdrop-blur-md transition-opacity duration-700 ease-in-out opacity-100"
    >
      <div class="flex w-full justify-between items-center">
        <img src="/icono-xv-bg.png" class="w-25 h-20" alt="" />
        <h1 class="fixed w-full top-7 left-33 right-40 text-4xl font-bold titulo">Hillari sofia</h1>
        <div></div>
      </div>
    </nav>
    <div class="fixed right-3 top-6 gap-2">
      <TemaBoton />
    </div>
  </div>
</header>

<!-- <nav class="fixed top-0 z-50 flex w-full gradient-element transition-all duration-300 px-3 md:px-5 py-2 md:py-4">
  <div class="relative flex w-full justify-between items-center">
    <div class="flex items-center gap-x-3">
      <CoronaLogo />
      <h1 class="text-xl font-bold">{nombre}</h1>
    </div>

    <div class="flex gap-2">
      <TemaBoton />
    </div>
  </div>
</nav> -->

<style>
  .navbar {
    transition: all 0.7s ease;
  }
  .navbar-hidden {
    opacity: 0;
    transform: translateY(-30px);
    pointer-events: none;
  }
</style>

<script>
  const navbarImage: any = document.getElementById("navbarImage");
  const navbarContent: any = document.getElementById("navbarContent");

  window.addEventListener("scroll", () => {
    if (window.scrollY > 90) {
      // Ocultar imagen, mostrar logo + contenido
      navbarImage.classList.add("navbar-hidden");
      navbarContent.classList.remove("navbar-hidden");
    } else {
      // Mostrar imagen, ocultar contenido
      navbarImage.classList.remove("navbar-hidden");
      navbarContent.classList.add("navbar-hidden");
    }
  });
</script>

