---
import Navbar from "../components/Navbar.astro";
import CinematicIntro from "../components/boda/CinematicIntro";
import DeepSpace from "../components/boda/DeepSpace";
import "../styles/global.css";

const estrellas = Array.from({ length: 10 }, () =>
  Math.random() > 0.5 ? "gold" : "silver",
);

const height = 2150;
---

<!doctype html>
<html class="">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>Yulissa & Miguel</title>

    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;600;700&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap"
      rel="stylesheet"
    />
    
    <link rel="stylesheet"
          href="https://fonts.googleapis.com/css?family=Tangerine">
  </head>

  <body class="relative bg-ivory-50 text-earth-800 overflow-x-hidden">
    <!-- Intro PRIMERO -->
    <!-- <CinematicIntro client:load /> -->

    <!-- Fondo 3D -->
    <!-- <DeepSpace client:load /> -->

    <div class="relative z-10 flex flex-col min-h-screen w-full bg-ivory-50">
      <main class="flex-1 w-full overflow-x-hidden">
        <slot />
      </main>

      <footer
        class="w-full py-6 text-center text-sm tracking-widest
         bg-ivory-50 text-navy-900 border-t border-gold-400/40"
      >
        Yulissa & Miguel · 2026
      </footer>
    </div>
  </body>
</html>
